* {
	margin: 0;
	padding: 0;
	outline: 0;
	box-sizing: border-box;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	font-family: 'Montserrat', sans-serif !important;
}

html, body {
	height: 100%;
}

body {
	background: #f1f1f1;
}

.app-color-primary {
	color: #9ccc65 !important;
}

.app-color-secundary {
	color: #6B84D9 !important;
}

.app-bg-primary {
	background-color: #9ccc65 !important;
}

.app-bg-secundary {
	background-color: #6B84D9 !important;
}

header {
	margin-bottom: 20px;
}

.header-btn_dropdown {
	background-color: inherit !important;
	margin-right: 10px !important;
	border: 0 !important;
	padding-left: 0 !important;
}

header form input::placeholder {
	font-size: 12.5px !important;
}

.btn-notification {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: inherit;
	padding: 5px;
	border: 0;
	font-size: 24px;
	cursor: pointer;
	margin: 5px;
	color: #999;
	border-radius: 50%;
}

.btn-notification:hover {
	background-color: #f1f1f1;
}