.autocomplete {
	position: relative;
}

.autocomplete-list {
	position: absolute;
	z-index: 5;
	top: 100%;
	right: 0%;
	left: 0%;
	height: auto;
	max-height: 550px;
	overflow: scroll;
}

.autocomplete-list-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.autocomplete-list-item div {
	flex: 1;
}

.autocomplete-list-item small {
	font-size: 12.5px;
}

.autocomplete-list-item div img {
	width: 48px;
	height: 48px;
	margin-right: 6px;
	font-size: 13px;
}

.container-product-item {
	display: flex;
	flex-direction: column;
}

.container-product-item button {
	text-align: left;
	font-size: 32px;
	width: fit-content;
}

.container-product-item img {
	height: auto;
	width: auto;
	max-height: 300px;
	max-width: 250px;
	min-height: 100px;
	min-width: 200px;
	align-self: center;
}

.info_container-product-item {
	display: flex;
	margin-top: 5px;
}

.info_content-product-item {
	flex: 2;
}

.info_content-product-item p {
	font-weight: 600;
	margin: 0;
}

.price_content-product-item {
	flex: 1
}

.price_content-product-item p {
	font-size: 18px;
	margin: 0;
	text-align: right;
	font-weight: bold;
}

.price_content-product-item small {
	display: flex;
	justify-content: flex-end;
	width: 100%;
	text-align: right;
	margin-top: 3px;
}

.none-linked-text {
	width: 100%;
	height: 85%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-style: italic;
}