.page-title {
    flex: 1;
    text-transform: uppercase;
    font-size: 28px;
}

.pr-created_at {
    font-size: 14px;
    text-transform: initial !important;
}

.list-group-container {
    width: 100%;
}

.list-item-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
}

.list-item-row img {
    padding: 5px;
    margin-right: 5px;
    height: auto;
    width: auto;
    max-height: 52px;
    max-width: 52px;
}

.list-item-row span {
    padding: 5px;
    align-self: center;
}

.countdown {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    font-size: 18px;
    font-weight: lighter;
}

.list-selection-products {
    height: 600px;
    overflow-y: hidden;
}

.input-product-quantity {
    border: 0;
    background-color: #e1e1e1;
    padding: 5px 10px;
    box-sizing: border-box;
    width: 72px;
    height: 38px;
    border-radius: 5px;
}

.input-product-quantity::-webkit-outer-spin-button,
.input-product-quantity::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.button-product-quantity {
    border: 0;
    margin-top: 10px;
    padding: 5px;
    background-color: #ffffff;
    align-self: center;
    cursor: pointer;
    width: fit-content;
    height: fit-content;
}

.list-overflow {
    height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
}

.list-item-selected-product {
    -webkit-animation: slide-in-right 0.75s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-right 0.75s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in-right {
    0% {
        -webkit-transform: translateX(1000px);
        transform: translateX(1000px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-in-right {
    0% {
        -webkit-transform: translateX(1000px);
        transform: translateX(1000px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

