.page-title {
    flex: 1;
    text-transform: uppercase;
    font-size: 28px;
}

.pr-created_at {
    font-size: 14px;
    text-transform: initial !important;
}

.list-group-container {
    width: 100%;
}

.list-item-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
}
.list-item-row img {
    padding: 5px;
    margin-right: 5px;
    height: auto;
    width: auto;
    max-height: 52px;
    max-width: 52px;
}

.list-item-row span {
    padding: 5px;
    align-self: center;
}

.countdown {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    font-size: 18px;
    font-weight: lighter;
}
/*.pr-btn-delete {
    font-size: 32px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 0;
    background-color: inherit;
    cursor: pointer;
    transition: all .2s ease-in-out;
    margin-right: 20px;
}

.pr-btn-delete:hover {
    transform: scale(1.2);
}*/
