.content {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	margin-top: 40px;
}

.content>h1 {
	text-transform: uppercase;
}

.content form, .div-error {
	width: 100%;
	max-width: 450px;
	min-width: 320px;
	padding: 10px;
}

.content form button {
	width: 100%;
	font-weight: 600;
}

small {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	align-self: center;
	margin: 40px 0;
	position: relative;
	color: #999;
	font-size: 14px;
	font-weight: 600;
}

small::before {
	display: block;
	content: '';
	width: 43%;
	background: #ddd;
	height: 0.825px;
	position: absolute;
	bottom: 50%;
	left: 0;
}

small::after {
	display: block;
	content: '';
	width: 43%;
	background: #ddd;
	height: 0.825px;
	position: absolute;
	bottom: 50%;
	right: 0;
}

.container form p {
	text-align: center;
}

.link-forgot_pass {
	display: flex;
	justify-content: flex-end; 
	text-decoration: none;
	font-size: 13px;
	color: #999;
	width: 100%;
	margin: 3px 0 10px 0;
}

.link-forgot_pass::hover {
	font-size: 13.5px;
	color: #17a2b8 !important;
}