.container-actions {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: 100%;
}

.container-products {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
}

.card-product {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	align-self: stretch;
	width: 250px;
	max-height: 370px;
	margin: 1%;
}

.card-product:nth-child(4n+1) {
	margin-left: 1.33%;
}

.card-img-product {
	flex: 1;
	width: auto;
	height: 200px;
	max-width: 100%;
	margin: 10px;
}

.card-body-product {
	width: 100%;
	display: flex;
	flex-direction: column;
	height: auto;
	justify-content: flex-end;
}

.card-body-product_primary--info {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-end;
	flex: 1;
}

.card-body-product_primary--info h3 {
	flex: 1;
	font-size: 12px;
	font-weight: bold;
	margin-bottom: 0;
}

.card-body-product_primary--info span {
	font-size: 12.5px;
	font-weight: bold;
	margin-left: 5px;
}

.card-body-product_secondary--info {
	display: flex;
	flex-direction: row;
	align-items: stretch;
	margin-top: 10px;
}

.card-body-product_secondary--info small {
	font-style: italic;
	align-self: flex-end;
}

.card-body-product_secondary--info div {
	flex: 1;
	display: flex;
	flex-direction: column;
	font-size: 12px;
	justify-content: flex-end;
	align-items: flex-end;
}

.card-body-product_secondary--info div p {
	margin: 0 0 !important;
}

.btn-product-details {
	margin-top: 10px;
	color: #17a2b8 !important;
}

.btn-product-details:hover {
	color: #F5F5F5 !important;
}

@media(max-width: 1170px) {
	.card-product:nth-child(3n+1) {
		margin-left: 4% !important;
	}
}

@media(max-width: 990px) {
	.card-product {
		width: 200px;
	}
	.card-product:nth-child(4n+1) {
		margin-left: 5% !important;
	}
}

@media(max-width: 766px) {
	.card-product {
		width: 230px;
	}
	.card-product:nth-child(n+1) {
		margin-left: 3% !important;
	}
}

@media(max-width: 560px) {
	.container-products {
		justify-content: center;
	}

	.card-product {
		width: 250px
	}
	.card-product:nth-child(n){
		margin-left: 2%;
	}
}
