version: '3.7'

services:
  app:
    image: douglira/smartsearch:latest
    ports:
      - "80:8080"
    networks:
      - smart
      - elk

  db:
    image: postgres:latest
    networks:
      - smart
    environment:
      POSTGRES_USER: douglas
      POSTGRES_PASSWORD: docker

  sgbd:
    image: dpage/pgadmin4:latest
    ports:
      - 8092:80
    networks:
      - smart
    environment:
      PGADMIN_DEFAULT_EMAIL: douglas.vclira@gmail.com
      PGADMIN_DEFAULT_PASSWORD: pgadmindocker
    
  elasticsearch:
    # image: docker.elastic.co/elasticsearch/elasticsearch:6.4.0
    image: docker.elastic.co/elasticsearch/elasticsearch:6.7.2
    environment:
      - cluster.name=docker-cluster
      - transport.host=0.0.0.0
      - xpack.security.enabled=false
      - bootstrap.memory_lock=true
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
    ulimits:
      memlock:
        soft: -1
        hard: -1
    volumes:
      - esdata1:/usr/share/elasticsearch/data
    # ports:
    #   - 9200:9200
    #   - 9300:9300
    networks:
      - elk

  elasticsearch2:
    # image: docker.elastic.co/elasticsearch/elasticsearch:6.4.0
    image: docker.elastic.co/elasticsearch/elasticsearch:6.7.2
    environment:
      - cluster.name=docker-cluster
      - transport.host=0.0.0.0
      - xpack.security.enabled=false
      - bootstrap.memory_lock=true
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
      - "discovery.zen.ping.unicast.hosts=elasticsearch"
    ulimits:
      memlock:
        soft: -1
        hard: -1
    volumes:
      - esdata2:/usr/share/elasticsearch/data
    networks:
      - elk

  kibana:
    image: docker.elastic.co/kibana/kibana:6.7.2
    ports:
      - 5602:5601
    environment:
      SERVER_NAME: kibana.elastic.io
      ELASTICSEARCH_HOSTS: http://elasticsearch:9200
    networks:
      - elk

volumes:
  esdata1:
    driver: local
  esdata2:
    driver: local

networks:
  smart:
  elk: